/* signIn */
body{
    background-color: #002C54;
}
#error-msg{
    font-size: 0.1rem;
    }
    #form{
    padding:0% 50% ;
    margin: 10% 0%;
    }
    
    .innerDiv{
        width: 30%;
        height: auto;
    }
    #submit{
        width: 100%;
    }
    #submit:hover{
        background-color:rgb(29, 29, 232);
    }
    #register, #anchor-back{
        text-decoration: none;
    }
    #register:hover{
        text-decoration: underline;
    }
    